<div class="about-section">
    <h1>About Us Page</h1>
    
    <p>Hospitalmanagement.net is one of a network of 30+ proprietary B2B websites, with an unrivalled global audience of active decision makers, 
        influencers, and opinion leaders across the world with a combined readership of 55 million industry professionals each year.
        As part of GlobalData, we have access to over 1bn data points including companies, deals, projects and forecasts and trends. Leading data 
        informs and support our industry leading content. With expertise spanning more than 80 markets globally and driven by 800+ award-winning 
        journalists, researchers, and analysts, we connect you with the information that makes and breaks businesses every day.
        Combined with our award-winning targeting technology built into our network of websites, we offer a unique end-to-end marketing solution 
        combining insight, creativity, and cutting-edge AI-technology. Our marketing solution allows clients to identify, target and engage with prospects using access and ownership of our 30+ B2B media websites and their large sector specific audiences. With more reach, data targeting and first-party data than any other partner, we produce world-class campaigns for our clients.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/aboutus.jpg" alt="Vijay" style="width:100%">
        <div class="container">
          <h2>Vijay</h2>
          <p class="title">CEO & Founder</p>
          <p></p>
          <p>Vijay_1@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../../assets/aboutus.jpg" alt="Arun" style="width:100%">
        <div class="container">
          <h2>Arun</h2>
          <p class="title">Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Arun123@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../../assets/aboutus.jpg" alt="Hariss" style="width:100%">
        <div class="container">
          <h2>Hariss</h2>
          <p class="title">Chief</p>
          <p></p>
          <p>Hariss@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
