<div class="wrapper">
    <div class="container">

        <!-- <div class="header">
            <span class="medical"(click)="gotohome('home')">Home</span>
            <span class="healthcare" (click)="gotoaboutus('aboutus')">About us</span>
            <span class="doctor" (click)="gotocontactus('contactus')">Contact Us</span>
            <span class="login" (click)="showLogin()">Login</span>
            <span class="login" (click)="gotosignup('signup')">Signup
            </span>
         
    
        </div> -->
    
    
        <div class="body">
            <h2>Our Hospital will restore your Health very fast.</h2>
    
           
    
            <div class="logo">
    
                <span>AK Medics</span>
            </div>
        </div>
    </div>
    
    <div class="aboutus">
    
        <h1>About us</h1>
    
        <img src="../../../../../assets/syringe-1291129_1920-removebg-preview.png" alt="" >
    
        <span>But it is always important to get up and get back to the grind.
             Today, we motivate you with some doctor motivational quotes for medical 
            students and anecdotes to help you feel positive and charged up.</span>
    </div>
    
    
    <div class="team">
    
    
        <div class="team-header">
            <h1>OUR GOAL</h1>
        </div>
    
    
        <div class="team-container">
    
            <div class="team-item">
                <img src="../../../assets/doctor-getty.jpg" alt="">
    
                <span>Pursuing the journey of becoming a High-Reliability Organization.</span>
            </div>
    
            <div class="team-item">
                <img src="../../../assets/intro.jpg" alt="">
    
                <span>A hospital is a place we all dread to enter but cannot do without it either. Without hospitals,
                     the health care facilities would have collapsed, 
                    and there would have been no treatment for individuals, thus bringing in new hope for life.</span>
            </div>
    
            <div class="team-item">
                <img src="../../../assets/140820151917-electronic-medical-records.jpg" alt="">
    
                <span>A century ago, we made a commitment. 
                    We’ve kept it.
                    A family of hospitals for your family.
                    A heritage in care. A reputation in excellence.</span>
            </div>
    
            <div class="team-item">
                <img src="../../../assets/images.jpeg" alt="">
    
                <span>A commitment to community
                    The spirit to care
                    Taking care of your body
                    Hearts Plus Minds.</span>
            </div>
        </div>
    
    
    </div>
    
    <div class="footer">
    
        <div class="footer-item">
    
            <h1>AK Medics</h1>
    
            <span> &copy; 2023 Reserved. All rights reserved.</span>
        </div>
       
    </div>
</div>

<!-- <form action="" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="login-container" *ngIf="close">

        <div class="login-item">
    
            <div class="cancel-button">
                <button class="close" (click)="showLogin()">Close</button>
            </div>
    
            <div class="login-input">
    
                <h1>AK Medics</h1>
    
                <input type="email" placeholder="Enter email" ngModel name="email" email required #email="ngModel">
                <input type="password" placeholder="Enter password" ngModel name="password" required #password="ngModel">

    
                <button class="login-btn" [disabled]="!form.valid">Login</button>
    
                <span>Ask to be registered.</span>
            </div>
        </div>
    </div>
</form> -->












